@import "tailwindcss";
@plugin "daisyui";




@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


 body{
    font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
 }


 @keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-out forwards;
}




.btn-primary {
  @apply  text-white bg-gradient-to-br from-red-800 via-red-900 to-red-950;
}
.btn-btn {
  @apply  text-white bg-gradient-to-br from-red-800 via-red-900 to-red-950;
}

.text {
   @apply bg-gradient-to-r from-[#692e02] via-[#ad2b07] to-[#572203] 
           bg-clip-text text-transparent font-bold;
}